<table id="table_upload" border="1" cellpadding="5" cellspacing="0" width="675">
<col style="width: 75px;" align="left"><col>
<tbody id="table_upload_tbody">

<tr id="tr_name">
  <td><span class="lang-ro-hide-all">Nume</span><span class="lang-ru-hide-all">Название</span>(*)</td>
  <td><input name="name" size="70" maxlength="90" type="text"></td>
</tr>

<tr id="tr_bookz_author">
  <td><span class="lang-ro-hide-all">Autor</span><span class="lang-ru-hide-all">Автор</span> (*)</td>
  <td><input name="bookz_author" size="30" maxlength="30" type="text"><br></td>
</tr>
<tr id="tr_bookz_genres">
  <td><span class="lang-ro-hide-all">Gen</span><span class="lang-ru-hide-all">Жанр</span> (*)</td>
  <td>
<select name="bookz_genre">
    <option value="0" selected>-</option>
    <option value="1">Biography</option>
    <option value="2">Business & Money</option>
    <option value="3">Children</option>
    <option value="4">Computing & Internet</option>
    <option value="5">Cooking, Food & Wine</option>
    <option value="6">Diet & Health</option>
    <option value="7">Education</option>
    <option value="8">Fiction & Literature</option>
    <option value="9">History</option>
    <option value="10">Medicine</option>
    <option value="11">Mystery & Crime</option>
    <option value="12">Reference</option>
    <option value="13">Religion</option>
    <option value="14">Self-Improvement</option>
    <option value="100">Other</option>
</select>
  </td>
</tr>
<tr>
  <td><span class="lang-ro-hide-all">An</span><span class="lang-ru-hide-all">Год</span>(*)</td>
  <td><input name="year" size="15" maxlength="30" type="text"> <font id="year_display" color="#CC3300"></font>
  <br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: 1997, 1997-2005 or 1997,1998,2001,2002)</td>
</tr>

<tr id="tr_lang">
  <td><span class="lang-ro-hide-all">Limba</span><span class="lang-ru-hide-all">Язык</span>(*)</td>
  <td>
<select name="language">
    <option value="0">-</option>
    <option value="1">Русский</option>
    <option value="2">English</option>
    <option value="3">Rom&acirc;n&#259;</option>
    <option value="4">Deutsch</option>
    <option value="5">Fran&ccedil;ais</option>
    <option value="6">Espa&ntilde;ol</option>
    <option value="7">Japanese</option>
    <option value="8">Italiano</option>
    <option value="9">Portuguese</option>
    <option value="11">Fără cuvinte</option>
    <option value="10">Other</option>
  </select>

  </td>
</tr>

<tr id="tr_description" class="oldBehaiveiors">
  <td><span class="lang-ro-hide-all">Descrierea</span> <span class="lang-ru-hide-all">Описание</span>(*)</td>
  <td><textarea name="descr" rows="15" style="width: 530px;"></textarea><br><span class="lang-ro-hide-all">(15 caractere minim, doar BB-code este admis, apasă <a href="./tags.php" tabindex="9" target="_blank">aici</a> pentru exemple de bb-coduri posibile.)</span><span class="lang-ru-hide-all">(Минимум 15 символов, допустимыми являются только ВВ коды, нажми <a href="./tags.php" tabindex="9" target="_blank">сюда</a> чтобы увидеть примеры возможных ВВ кодов.)</span></td>
</tr>
<tr>
  <td><span class="lang-ro-hide-all">Durata</span><span class="lang-ru-hide-all">Продолжительность</span>(*)</td>
  <td><input name="runtime" style="width: 530px;" type="text"><br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: 126 min or 2h 6m or 126 мин or 2ч 6м)</td>
</tr>

<tr>
  <td><span class="lang-ro-hide-all">Sunet</span> <span class="lang-ru-hide-all">Звук</span> (*)</td>
  <td><input name="sound" style="width: 330px;" type="text"> (<a href="/forum.php?action=viewtopic&topicid=378918" tabindex="12" target="_blank">cum de aflat</a>)<br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: АС3, 48000 Hz, 6 каналов, 384 kbit/s)</td>
</tr>


</tbody>
</table>
