<table id="table_upload" border="1" cellpadding="5" cellspacing="0" width="675">
<col style="width: 75px;" align="left"><col>
<tbody id="table_upload_tbody">

<tr id="tr_music_artist">
  <td><span class="lang-ro-hide-all">Artist</span><span class="lang-ru-hide-all">Исполнитель</span>(*)</td>
  <td>
    <input name="artist" size="66" maxlength="70" type="text" id="music_artist">
   </td>
</tr>

<tr id="tr_music_title">
  <td><span class="lang-ro-hide-all">Denumire</span><span class="lang-ru-hide-all">Название</span>(*)</td>
  <td>
    <input name="title" size="66" maxlength="70" type="text" id="music_title">
   </td>
</tr>
<tr id="tr_music_genre">
  <td><span class="lang-ro-hide-all">Gen</span><span class="lang-ru-hide-all">Жанр</span> (*)</td>
  <td>
    <select name="music_genre">
    <option value="0">-</option>
    <option value="1">A Capela</option>
    <option value="2">Acid</option>
    <option value="3">Acid Jazz</option>
    <option value="4">Acid Punk</option>
    <option value="5">Acoustic</option>
    <option value="6">Alternative</option>
    <option value="7">AlternRock</option>
    <option value="8">Ambient</option>
    <option value="9">Avantgarde</option>
    <option value="10">Ballad</option>
    <option value="11">Bass</option>
    <option value="12">Bebob</option>
    <option value="13">Big Band</option>
    <option value="143">Black Metal</option>
    <option value="14">Bluegrass</option>
    <option value="15">Blues</option>
    <option value="16">Booty Brass</option>
    <option value="17">Cabaret</option>
    <option value="18">Celtic</option>
    <option value="19">Chamber Music</option>
    <option value="20">Chanson</option>
    <option value="142">Chill Out</option>
    <option value="21">Chorus</option>
    <option value="22">Christian Rap</option>
    <option value="23">Classic Rock</option>
    <option value="24">Classical</option>
    <option value="25">Club</option>
    <option value="26">Comedy</option>
    <option value="27">Country</option>
    <option value="28">Cult</option>
    <option value="29">Dance</option>
    <option value="30">Dance Hall</option>
    <option value="31">Darkwave</option>
    <option value="32">Death Metal</option>
    <option value="135">Deathcore</option>
    <option value="33">Disco</option>
    <option value="127">Doom</option>
    <option value="134">Downtempo</option>
    <option value="34">Dream</option>
    <option value="35">Drum Solo</option>
	<option value="133">Drum&amp;Bass</option>
    <option value="36">Duet</option>
    <option value="37">Easy Listening</option>
    <option value="38">Electronic</option>
    <option value="128">Emo</option>
	<option value="137">Emocore</option>
    <option value="39">Ethnic</option>
    <option value="40">Euro-House</option>
    <option value="41">Euro-Techno</option>
    <option value="42">Eurodance</option>
    <option value="43">Fast Fusion</option>
    <option value="44">Folk</option>
    <option value="45">Folk-Rock</option>
    <option value="46">Folklore</option>
    <option value="47">Freestyle</option>
    <option value="48">Funk</option>
    <option value="49">Fusion</option>
    <option value="50">Game</option>
    <option value="51">Gangsta</option>
    <option value="52">Gospel</option>
    <option value="53">Gothic</option>
    <option value="54">Gothic Rock</option>
    <option value="139">Grindcore</option>
    <option value="55">Grunge</option>
    <option value="56">Hard Rock</option>
    <option value="132">Hardcore</option>
    <option value="144">Heavy Metal</option>
    <option value="57">Hip-Hop</option>
    <option value="58">House</option>
    <option value="59">Humour</option>
    <option value="60">Industrial</option>
    <option value="61">Instrumental</option>
    <option value="62">Instrumental Pop</option>
    <option value="63">Instrumental Rock</option>
    <option value="64">Jazz</option>
    <option value="65">Jazz+Funk</option>
    <option value="66">Jungle</option>
    <option value="67">Latin</option>
    <option value="68">Lo-Fi</option>
    <option value="69">Meditative</option>
    <option value="70">Metal</option>
    <option value="130">Metalcore</option>
	<option value="138">Mathcore</option>
	<option value="141">Minimal</option>
    <option value="71">Musical</option>
    <option value="72">National Folk</option>
    <option value="73">Native American</option>
    <option value="74">New Age</option>
    <option value="75">New Wave</option>
    <option value="76">Noise</option>
    <option value="77">Oldies</option>
    <option value="78">Opera</option>
    <option value="80">Polka</option>
    <option value="81">Pop</option>
    <option value="82">Pop-Folk</option>
    <option value="83">Pop/Funk</option>
    <option value="84">Porn Groove</option>
    <option value="136">Post-Hardcore</option>
    <option value="145">Power Metal</option>
    <option value="85">Poweer Ballad</option>
    <option value="86">Pranks</option>
    <option value="87">Primus</option>
    <option value="88">Progressive Rock</option>
    <option value="89">Psychadelic</option>
    <option value="90">Psychedelic Rock</option>
    <option value="91">Punk</option>
    <option value="92">Punk Rock</option>
    <option value="93">R&B</option>
    <option value="94">Rap</option>
    <option value="95">Rave</option>
    <option value="96">Reggae</option>
    <option value="97">Retro</option>
    <option value="98">Revival</option>
    <option value="99">Rhytmic Soul</option>
    <option value="100">Rock</option>
    <option value="101">Rock & Roll</option>
    <option value="102">Samba</option>
    <option value="103">Satire</option>
    <option value="129">Screamo</option>
    <option value="104">Showtunes</option>
    <option value="105">Ska</option>
    <option value="106">Slow Jam</option>
    <option value="107">Slow Rock</option>
    <option value="108">Sonata</option>
    <option value="109">Soul</option>
    <option value="110">Sound Clip</option>
    <option value="111">Soundtrack</option>
    <option value="112">Southern Rock</option>
    <option value="113">Space</option>
    <option value="114">Speech</option>
    <option value="115">Swing</option>
    <option value="116">Symphonic Rock</option>
    <option value="117">Symphony</option>
    <option value="118">Tango</option>
    <option value="119">Techno</option>
    <option value="120">Techno-Industrial</option>
    <option value="121">Top 40</option>
    <option value="122">Trailer</option>
    <option value="123">Trance</option>
    <option value="131">Thrash</option>
    <option value="124">Tribal</option>
    <option value="125">Trip-Hop</option>
    <option value="126">Vocal</option>
    <option value="150">Other</option>
    <option value="151">-Unknown-</option>
    </select>
   </td>
</tr>

<tr>
  <td><span class="lang-ro-hide-all">An</span><span class="lang-ru-hide-all">Год</span>(*)</td>
  <td><input name="year" size="15" maxlength="30" type="text"> <font id="year_display" color="#CC3300"></font>
  <br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: 1997, 1997-2005 or 1997,1998,2001,2002)</td>
</tr>


<tr id="tr_lang" class="hideit"><td></td><td></td></tr>

<tr id="tr_description" class="oldBehaiveiors">
  <td><span class="lang-ro-hide-all">Descrierea</span> <span class="lang-ru-hide-all">Описание</span>(*)</td>
  <td><textarea name="descr" rows="15" style="width: 530px;"></textarea><br><span class="lang-ro-hide-all">(15 caractere minim, doar BB-code este admis, apasă <a href="./tags.php" tabindex="9" target="_blank">aici</a> pentru exemple de bb-coduri posibile.)</span><span class="lang-ru-hide-all">(Минимум 15 символов, допустимыми являются только ВВ коды, нажми <a href="./tags.php" tabindex="9" target="_blank">сюда</a> чтобы увидеть примеры возможных ВВ кодов.)</span></td>
</tr>

<tr id="tr_music_format">
  <td>File info(*)</td>
  <td>
  Format <select name="music_format">
   <option value="0">-</option>
   <option value="1" selected>MP3</option>
   <option value="2">M4A</option>
   <option value="3">OGG</option>
   <option value="4">WMA</option>
   <option value="5">AAC</option>
   <option value="6">MPC</option>
   <option value="7">FLAC</option>
   <option value="8">APE</option>
   <option value="9">SHN</option>
   <option value="10">WV</option>
   <option value="11">OFR</option>
   <option value="12">WAV</option>
   <option value="13">AIFF</option>
   <option value="14">SPX</option>
   <option value="15">AA</option>
   <option value="16">AC3</option>
   <option value="17">(multiple)</option>
  </select>
  Bitrate <input name="music_bitrate" size="4" maxlength="4">kbps <input type="checkbox" name="vbr" VALUE="1">VBR
  </td>
</tr>
</tbody>
</table>
