<table id="table_upload" border="1" cellpadding="5" cellspacing="0" width="675">
<col style="width: 75px;" align="left"><col>
<tbody id="table_upload_tbody">

<tr id="tr_name">
  <td><span class="lang-ro-hide-all">Nume</span><span class="lang-ru-hide-all">Название</span>(*)</td>
  <td><input name="name" size="70" maxlength="90" type="text"></td>
</tr>

<tr>
  <td><span class="lang-ro-hide-all">An</span><span class="lang-ru-hide-all">Год</span>(*)</td>
  <td><input name="year" size="15" maxlength="30" type="text"> <font id="year_display" color="#CC3300"></font>
  <br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: 1997, 1997-2005 or 1997,1998,2001,2002)</td>
</tr>


<tr>
  <td><span class="lang-ro-hide-all">Gen</span><span class="lang-ru-hide-all">Жанр</span> (*)</td>
  <td>
    <select name="sport_genre">
    <option value="0">-</option>
    <option value="3">Basketball</option>
    <option value="12">Boxing</option>
    <option value="32">Fighting</option>
    <option value="52">Martial Arts</option>
    <option value="36">Football</option>
    <option value="103">Formula 1</option>
    <option value="53">Motorcycle Racing</option>
    <option value="88">Tennis</option>
    <option value="67">Rugby</option>
    <option value="93">Volleyball</option>

    <option value="1">Badminton</option>
    <option value="2">Baseball</option>
    <option value="23">Cycling</option>
    <option value="4">Biathlon</option>
    <option value="5">Billiards</option>
    <option value="6">Board Sports</option>
    <option value="7">Boat Racing</option>
    <option value="8">Bobsledding</option>
    <option value="9">Boomerang</option>
    <option value="10">Bowling</option>
    <option value="11">Boxball</option>
    <option value="13">Bullfighting</option>
    <option value="14">Buzkashi</option>
    <option value="15">Camel Racing</option>
    <option value="16">Canoe Polo</option>
    <option value="17">Canoe-Kayak Racing</option>
    <option value="18">Cheerleading</option>
    <option value="19">Cockfighting</option>
    <option value="20">Cricket</option>
    <option value="21">Croquet</option>
    <option value="22">Curling</option>
    <option value="24">Danball</option>
    <option value="25">Dirtsurfing</option>
    <option value="26">Dodgeball</option>
    <option value="27">Dog Racing</option>
    <option value="28">Dogsledding</option>
    <option value="105">Drifting</option>
    <option value="29">Equestrian</option>
    <option value="30">Extreme Sports</option>
    <option value="31">Fencing</option>
    <option value="33">Fishing</option>
    <option value="34">Flying Discs</option>
    <option value="35">Footbag</option>
    <option value="37">Freediving</option>
    <option value="38">Golf</option>
    <option value="39">Gymnastics</option>
    <option value="40">Handball</option>
    <option value="41">Hockey</option>
    <option value="42">Horse Racing</option>
    <option value="43">Hurling</option>
    <option value="44">Jai-Alai</option>
    <option value="45">Kabaddi</option>
    <option value="46">Kickball</option>
    <option value="47">Korfball</option>
    <option value="107">K-1</option>
    <option value="48">Lacrosse</option>
    <option value="49">Le Parkour</option>
    <option value="50">Luge</option>
    <option value="51">Lumbering</option>
    <option value="106">MMA</option>
    <option value="54">Mountainboarding</option>
    <option value="108">Muay</option>
    <option value="55">Netball</option>
    <option value="56">Orienteering</option>
    <option value="57">Paddleball</option>
    <option value="58">Paddling</option>
    <option value="59">Paintball</option>
    <option value="60">Pickleball</option>
    <option value="61">Polo</option>
    <option value="62">Racewalking</option>
    <option value="63">Racquetball</option>
    <option value="64">Ringette</option>
    <option value="65">Rodeo</option>
    <option value="66">Rowing</option>
    <option value="68">Running</option>
    <option value="69">Sailing</option>
    <option value="70">Sandboarding</option>
    <option value="71">Sepak Takraw</option>
    <option value="72">Shinty</option>
    <option value="73">Shooting</option>
    <option value="74">Skateboarding</option>
    <option value="75">Skating</option>
    <option value="76">Skeleton</option>
    <option value="77">Skiing</option>
    <option value="78">Snowboarding</option>
    <option value="79">Snowmobiling</option>
    <option value="80">Soccer</option>
    <option value="81">Softball</option>
    <option value="82">Sports Entertainment</option>
    <option value="83">Squash</option>
    <option value="84">Surfing</option>
    <option value="85">Swimming and Diving</option>
    <option value="86">Table Tennis</option>
    <option value="87">Tchoukball</option>
    <option value="89">Track and Field</option>
    <option value="90">Triathlon</option>
    <option value="91">Tug-of-War</option>
    <option value="92">Twirling</option>
    <option value="94">Wakeboarding</option>
    <option value="95">Walking</option>
    <option value="96">Water Polo</option>
    <option value="97">Waterskiing</option>
    <option value="98">Weightlifting</option>
    <option value="99">Wheelchair Racing</option>
    <option value="100">Windsurfing</option>
    <option value="101">Winter Sports</option>
    <option value="102">Wrestling</option>
    <option value="104">World Cup 06</option>
    <option value="150">Other</option>
    </select>
   </td>
</tr>
<tr>
  <td><span class="lang-ro-hide-all">Durata</span><span class="lang-ru-hide-all">Продолжительность</span>(*)</td>
  <td><input name="runtime" style="width: 530px;" type="text"><br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: 126 min or 2h 6m or 126 мин or 2ч 6м)</td>
</tr>

<tr id="tr_lang">
  <td><span class="lang-ro-hide-all">Limba</span><span class="lang-ru-hide-all">Язык</span>(*)</td>
  <td>
<select name="language">
    <option value="0">-</option>
    <option value="1">Русский</option>
    <option value="2">English</option>
    <option value="3">Rom&acirc;n&#259;</option>
    <option value="4">Deutsch</option>
    <option value="5">Fran&ccedil;ais</option>
    <option value="6">Espa&ntilde;ol</option>
    <option value="7">Japanese</option>
    <option value="8">Italiano</option>
    <option value="9">Portuguese</option>
    <option value="11">Fără cuvinte</option>
    <option value="10">Other</option>
  </select>

  </td>
</tr>

<tr id="tr_description" class="oldBehaiveiors">
  <td><span class="lang-ro-hide-all">Descrierea</span> <span class="lang-ru-hide-all">Описание</span>(*)</td>
  <td><textarea name="descr" rows="15" style="width: 530px;"></textarea><br><span class="lang-ro-hide-all">(15 caractere minim, doar BB-code este admis, apasă <a href="./tags.php" tabindex="9" target="_blank">aici</a> pentru exemple de bb-coduri posibile.)</span><span class="lang-ru-hide-all">(Минимум 15 символов, допустимыми являются только ВВ коды, нажми <a href="./tags.php" tabindex="9" target="_blank">сюда</a> чтобы увидеть примеры возможных ВВ кодов.)</span></td>
</tr>
<tr>
  <td colspan="2" style="border:0px;background-color:#F5F4EA;"><span class="n" style="font-weight:bold;"> File Info</span>
  <input name="separator[]" type="hidden" value="File_info">
  </td>
</tr>

<tr>
  <td><p><span class="lang-ro-hide-all">Calitatea</span> <span class="lang-ru-hide-all">Качество</span> (*)</p></td>
  <td><select name="movie_quality">
    <option value="0" selected>-</option>
    <option value="1">DVDRip</option>
    <option value="7">DVDscr</option>
    <option value="2">CAM</option>
    <option value="3">TELESYNC (TS)</option>
    <option value="4">TELECINE (TC)</option>
    <option value="5">SCREENER (SCR)</option>
    <option value="8">SATRip</option>
    <option value="6">TVRip</option>
    <option value="9">HDTV</option>
    <option value="10">HDTVRip</option>
    <option value="11">BDRip</option>
    <option value="13">WEB-DL</option>
    <option value="14">WEBRip</option>
    <option value="12">Workprint (WP)</option>
    <option value="20">Unknown</option>
  </select>
     <a href="/forum.php?action=viewtopic&topicid=361692#3" tabindex="10" target="_blank">?</a></td>
</tr>

<tr>
  <td><span class="lang-ro-hide-all">Video</span> <span class="lang-ru-hide-all">Видео</span> (*)</td>
  <td><input name="video" style="width: 330px;" type="text"> (<a href="/forum.php?action=viewtopic&topicid=378918" tabindex="11" target="_blank">cum de aflat</a>)<br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: XviD, 640x256, 25 fps, ~1080 Kbit/s)</td>
</tr>

<tr>
  <td><span class="lang-ro-hide-all">Sunet</span> <span class="lang-ru-hide-all">Звук</span> (*)</td>
  <td><input name="sound" style="width: 330px;" type="text"> (<a href="/forum.php?action=viewtopic&topicid=378918" tabindex="12" target="_blank">cum de aflat</a>)<br>
  (<span class="lang-ro-hide-all">exemplu</span><span class="lang-ru-hide-all">пример</span>: АС3, 48000 Hz, 6 каналов, 384 kbit/s)</td>
</tr>

<tr>
  <td><span class="lang-ro-hide-all">Altele</span> <span class="lang-ru-hide-all">Другое </span> (*)</td>
  <td>
      <span class="lang-ro-hide-all">Torrentul conține sample ?</span> <span class="lang-ru-hide-all">Сэмпл есть ?</span> <input type="checkbox" name="sample" value="1"> (<a href="/forum.php?action=viewtopic&topicid=175744" target="_blank"><span class="lang-ro-hide-all">Cum de creat un sample</span><span class="lang-ru-hide-all">Как сделать Сэмпл</span></a>)<br>
      <span class="lang-ro-hide-all">Torrentul conține subtitre ?</span> <span class="lang-ru-hide-all">Субтитры есть ?</span> <input type="checkbox" name="subtitles" value="1">(<a href="/forum.php?action=viewtopic&topicid=175744" target="_blank"><span class="lang-ro-hide-all">În unele cazuri, includerea subtitrelor este obligatorie</span><span class="lang-ru-hide-all">В некоторых случаях, включение обязательно</span></a>)
  </td>
</tr>


</tbody>
</table>
