<?php
$mysql_host = '127.0.0.1';
$mysql_db = '{{ mysql_webapp_db }}';
$mysql_user = 'webapp';
$mysql_pass = '{{ mysql_webapp_password }}';

if ($mysql_pass == 'PLEASE_EDIT_THE_PASSWORD_7672596721') die('You forgot to change the default password');

// Generate a 32 length random string
$application_secret = "{{ webapp_app_key }}";
?>