#table_start#
#movie_original_name#
#movie_translated_name#
#imdb_link#
#youtube_link#
#serial#
#year#
#country#

<tr>
  <td>Type(*)</td>
  <td>
    <select name="anime_genre">
    	<option value="0">-</option>
    	<option value="1">Live Action</option>
    	<option value="2">Manga</option>
    	<option value="3">Movie</option>
    	<option value="4">OVA</option>
    	<option value="5">Series</option>
    	<option value="6">TV Anime</option>
    	<option value="50">Other</option>
    </select>
   </td>
</tr>


#directed#
#runtime#
#language#
#descr#
#separator#
#movie_quality#
#video#
#sound#
#other#
#table_end#