#table_start#
#torr_name#
#youtube_link#
<tr id="tr_games_genres">
  <td><span class="lang-ro-hide-all">Gen</span><span class="lang-ru-hide-all">Жанр</span> (*)</td>
  <td>
<select name="games_genre">
    <option value="0" selected>-</option>
    <option value="1">Action</option>
    <option value="11">Adventure</option>
    <option value="2">First-Person Shooters(FPS)</option>
    <option value="3">Role-Playing(RPG)</option>
    <option value="4">Racing</option>
    <option value="5">Real-Time Strategy(RTS)</option>
    <option value="13">Simulation</option>
    <option value="6">Other Shooters</option>
    <option value="7">Tactical Shooters</option>
    <option value="12">Turn by Turn Strategy</option>
    <option value="8">Platformers</option>
    <option value="9">Fighting Games</option>
    <option value="10">For Kids</option>
    <option value="20">Other</option>
</select>
   </td>
</tr>
#year#
#language_only#
<tr>
  <td colspan="2" style="border:0px;background-color:#F5F4EA;"><span class="n" style="font-weight:bold;"><span class="n lang-ro-hide-all" style="font-weight:bold;"> Cerinţe tehnice</span><span class="n lang-ru-hide-all" style="font-weight:bold;"> Системные требования</span></span>
  <input name="separator[]" type="hidden" value="Hardware">
  </td>
</tr>
<tr id="tr_games_minimum">
  <td>Minimum(*)</td>
  <td>
     <textarea name="games_minimum_hardware" rows="6" cols="67"></textarea>
   </td>
</tr>
<tr id="tr_games_recomanded">
  <td>Recommended</td>
  <td>
     <textarea name="games_recomanded_hardware" rows="6" cols="67"></textarea>
   </td>
</tr>

#simple_descr#
#table_end#