#table_start#
#movie_original_name#
#movie_translated_name#
#imdb_link#
#youtube_link#
#serial#
#year#
#country#
#all_movie_genres_list_ids#
#directed#
#writing_by#
#actors#
#runtime#
#language#
#descr#
#separator#
<tr>
  <td><p><span class="lang-ro-hide-all">Calitatea</span><span class="lang-ru-hide-all">Качество</span> HDTV (*)</p></td>
  <td><select name="hdtv_quality">
    <option value="0">-</option>
    <option value="1">BDRip 720p</option>
	<option value="2">BDRip 1080p</option>
	<option value="3">BDRemux</option>
	<option value="4">Blu-Ray</option>
	<option value="5">HDDVDRip 720p</option>
	<option value="6">HDDVDRip 1080p</option>
	<option value="7">HDDVDRemux</option>
	<option value="8">HDDVD</option>
	<option value="9">HDTVRip</option>
  <option value="10">WEB-DL</option>
  <option value="11">WEBRip</option>
  </select>
  </td>
</tr>
#video#
#sound#
#other#
#table_end#