#table_start#
<tr id="tr_music_artist">
  <td><span class="lang-ro-hide-all">Artist</span><span class="lang-ru-hide-all">Исполнитель</span>(*)</td>
  <td>
    <input name="artist" size="66" maxlength="70" type="text" id="music_artist">
   </td>
</tr>

<tr id="tr_music_title">
  <td><span class="lang-ro-hide-all">Denumire</span><span class="lang-ru-hide-all">Название</span>(*)</td>
  <td>
    <input name="title" size="66" maxlength="70" type="text" id="music_title">
   </td>
</tr>

#year#
#language_only#

#descr#

#video#
#sound#
#other#

#table_end#